<div class="details skeleton" *ngIf="isLoading">
  <div class="skeleton-button"></div>
  <div class="skeleton-card"></div>
</div>

<div class="details" *ngIf="!isLoading && user as user">
  <div class="button">
    <button mat-stroked-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <mat-card class="details-card">
    <img [src]="user.avatar" [alt]="user.first_name + ' ' + user.last_name" />
    <div class="info">
      <div class="title">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="sub"># {{ user.id }}</div>
      <div class="sub">Email: {{ user.email }}</div>
    </div>
  </mat-card>
</div>
